body{
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
    /*Displaying Everything at the center of the page*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

#game-Board{
    background-color: bisque;
    /*Creating a square shape div box inside the browser. It will
    scale the div size dynamically according to the size of the browser.*/
    height: 100vmin;
    width: 100vmin;
    /*Creating grid inside the div*/
    display: grid;
    /*We are creating equal rows and columns for the board.
    It will be 21 columns and 21 rows and the width size will be
    same 1fr. It will be same 21 squares little boxes of exact same
    width and exact same height and it will be evenly distributed across
    the div board despitethe browser size.*/
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: darkred;
    border: .25vmin solid black;
}

.food{
    background-color: navy;
    border: .25vmin solid black;
}